/* CSS declarations go here */

body > div,
body > div > div{
   height: 100%
}

.contentWrapper {
   padding-bottom: 20px;
}

.background{
   background: url(/img/background.png);
   position: fixed;
   height: 500px;
   width: 100%;
   left: 0;
   z-index: -1;
   bottom: 0;
   top: 340px;
   background-repeat: repeat;
}
