@font-face {
    font-family: montserrat;
    src: url('/fonts/montserrat/Montserrat-Medium.otf');
}

@font-face {
    font-family: levenim;
    src: url('/fonts/levenim-mt/ufonts.com_levenim-mt.woff');
}

.font-montserrat {
   font-family: montserrat
}

.font-levenimt {
   font-family: levenim
}
